.welcome {
    margin-top: 50px;
    width: 50%;
    margin-left: 200px;
    font-weight: bold;
  }
  .CYP {
    margin-top: 30px;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
  }
  .create {
    margin-left: 200px;
    font-weight: bold;
  }
  .propertybtn {
    width: 210px;
    color: rgb(255, 239, 239);
    background-color: #10102b;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
  }
  .landlordcontainer {
    width: 60%;
    height: 1450px;
    background-color: rgb(220, 236, 246);
    padding: auto;
    margin: auto;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: 70px;
  }
  
  .landlordcard {
    width: 60%;
    margin: auto;
    padding: 50px;
  }
  
  .inputs {
    margin-bottom: 30px;
  }
  
  .inp {
    margin-top: 10px;
    width: 100%;
    border-radius: 7px;
  }
  input[type="text"] {
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
  }
  .area {
    margin-top: 20px;
    border: none;
  }
  .type {
    display: flex;
    justify-content: space-between;
  }
  input[type="number"] {
    background-color: rgb(255, 255, 255);
    padding-left: 20px;
    border: none;
    margin-top: 10px;
    width: 100%;
    height: 35px;
    border-radius: 6px;
  }
  .area {
    padding: 20px;
    border-radius: 6px;
    border: none;
  }
  .file-input-container {
    position: relative;
    width: 400px; /* Set the initial width of the container */
    /* margin: 20px; */
  }
  
  .hidden-input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  
  .custom-input {
    margin-top: 10px;
    width: 555px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0.6;
  }
  
  .custom-input::before {
    content: "⭳"; /* Unicode character for a camera icon */
    font-size: 20px;
    margin-right: 5px;
  }
  /* .custom-input::after {
          content: ;
          font-size: 20px;
          margin-right: 5px;
      } */
  .proceedbtn {
    margin-top: 40px;
    text-align: center;
  }
  .probtn {
    width: 260px;
    height: 40px;
    border: none;
    font-size: 25px;
    border-radius: 16px;
    color: white;
    background-color: rgb(255, 149, 0);
  }