<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentalX</title>
    <link rel="stylesheet" th:href="@{../css/contactus.css}">
    <link rel="stylesheet"
     href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#" class="logotag"><h3><i class='bx bxs-building'></i>Rental<span>X</span></h3></a>
        </div>
        <nav class="navigation">
            <a th:href="@{/registration}">Sign up</a>
            <a th:href="@{/login}">Sign in</a>
            <a th:href="@{/contactus}">Contact us</a>
        </nav>
    </header>
    <div class="headings">
    <h1>Thailand's Best House Rental Platform</h1>
    <h2>Find, Rent and Thrive</h2>
    </div>
    <div class="wrapper">
        
        <form th:action="@{\contactus}" method="post" th:object="${contactus}">
            <div class="input-box">
                <input type="text" th:field="*{name}" placeholder="Name*" required>
            </div>
            <div class="input-box">
                <input type="email" th:field="*{email}" placeholder="Email*" required>
            </div>
            <div class="input-box">
                
                <input type="number" th:field="*{phNum}" placeholder="Phone number*" required>
            </div>
            <div class="input-box">
                <input type="text" th:field="*{message}" placeholder="How Can we help you?*" required>
            </div>
            
            <button type="submit" class="create">Proceed</button>
            
        </form>
    </div>
    <section class="footer">
        <div class="footer-content">
            <li><a href="#"><i class='bx bxl-facebook-circle'></i>fb.com/rentalx.co.th</a></li>
            <li><a href="#"><i class='bx bxl-whatsapp'></i>+66 95 534 4442</a></li>
        </div>
        <div class="footer-content">
            
            <li><a href="#"><i class='bx bxl-telegram' style='color:#ffffff'  ></i>+66 95 534 4442</a></li>
            <a href="#"></a>
            <li><a href="#">contact@rentalx.co.th</a></li>
        </div>
        <div class="footer-content-us">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </div>
    </section>
</body>
</html>