<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="stylesheet" th:href="@{../css/reset-pass.css}">
    <link rel="stylesheet"
     href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="#" class="logotag"><h3><i class='bx bxs-building'></i>Rental<span>X</span></h3></a>
        </div>
        <nav class="navigation">
            <a th:href="@{/registration}">Sign up</a>
            <a th:href="@{/login}">Sign in</a>
            <a th:href="@{/contactus}">Contact us</a>
        </nav>
    </header>
        
        <div class="headings">
        <h1>Thailand's Best House Rental Platform</h1>
        <h2>Find, Rent and Thrive</h2>
        </div>
        <div class="wrapper">
        <form method="post" role="form" th:action="@{/reset-password}" onsubmit="return validatePassword()">

            <div th:if="${message != null}">
                <div class="error-message">
                    <p>[[${message}]]</p>
                </div>
            </div>

            <p>Enter your new password below to reset your account password.</p>
            <div class="input-box">
                <label for="password">Password</label>
                <input  type="password" id="password" name="password" placeholder="Enter your new password" required>
            </div>
            <div class="input-box">
                <label for="password">Password</label>
                <input  type="password" id="confirmPassword" name="password" placeholder="Confirm new password" required>
            </div>
            
            <button type="submit" class="btn">Change</button>
            <span><a th:href="@{/login}">Login</a></span>
        </form>
        </div>
        
        <section class="footer">
            <div class="footer-content">
                <li><a href="#"><i class='bx bxl-facebook-circle'></i>fb.com/rentalx.co.th</a></li>
                <li><a href="#"><i class='bx bxl-whatsapp'></i></i>+66 95 534 4442</a></li>
            </div>
            <div class="footer-content">
                
                <li><a href="#"><i class='bx bxl-telegram' style='color:#ffffff'  ></i>+66 95 534 4442</a></li>
                <a href="#"></a>
                <li><a href="#">contact@rentalx.co.th</a></li>
            </div>
            <div class="footer-content-us">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </div>
        </section>
        <script>

            function validatePassword () {
        
                var password = document.getElementById("password").value;
                var confirmPassword = document.getElementById("confirmPassword").value;
        
                if (password !== confirmPassword){
                    alert("Password do not match");
                    return false;
                }
        
                return true;
            }
        
        </script>
</body>
</html>