<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RentalX</title>
    <link rel="stylesheet" th:href="@{../css/signupx.css}">
    <link rel="stylesheet"
     href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

</head>
<body>
    <header>
        <div class="logo">
            <a href="#" class="logotag"><h3><i class='bx bxs-building'></i>Rental<span>X</span></h3></a>
        </div>
        <nav class="navigation">
            <a th:href="@{/registration}">Sign up</a>
            <a href="@{/login}">Sign in</a>
            <a href="#">Contact us</a>
        </nav>
    </header>
    <div class="headings">
    <h1>Thailand's Best House Rental Platform</h1>
    <h2>Find, Rent and Thrive</h2>
    </div>
    <div class="wrapper">
        
        <form action="/registration" method="post" role="form">
            <div class="input-box">
                <label for="">Name</label>
                <input type="text" name="userName" placeholder="Name*" required>
            </div>
            <div class="input-box">
                <label for="">Email</label>
                <input type="email" name="email" placeholder="Email*" required>
            </div>
            <div class="input-box">
                <label for="">Phone Number</label>
                <input type="text" placeholder="Phone number*" required>
            </div>
            <div class="input-box">
                <label for="">Create Password</label>
                <input type="password" name="password" placeholder="Create Password*" required>
            </div>
            <div class="input-box">
                <label for="">Confirm Password</label>
                <input type="password" placeholder="Confirm Password*" required>
            </div>
            <div class="rdbut">
                <label>
                    <input type="radio" name="role" value="LANDLORD" />Landlord<br/>
                    <span>Landlord </span>
                </label>
                <label>
                    <input type="radio" name="role" value="USER" />User
                    <span>User</span>
                </label>
            </div>
            <button type="submit" class="create">Create new account</button>
            
        </form>
    </div>
    <section class="footer">
        <div class="footer-content">
            <li><a href="#"><i class='bx bxl-facebook-circle'></i>fb.com/rentalx.co.th</a></li>
            <li><a href="#"><i class='bx bxl-whatsapp'></i>+66 95 534 4442</a></li>
        </div>
        <div class="footer-content">
            
            <li><a href="#"><i class='bx bxl-telegram' style='color:#ffffff'  ></i>+66 95 534 4442</a></li>
            <a href="#"></a>
            <li><a href="#">contact@rentalx.co.th</a></li>
        </div>
        <div class="footer-content-us">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
        </div>
    </section>
</body>
</html>