<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" th:href="@{../css/list.css}">
        <link rel="stylesheet" th:href="@{../css/landlord.css}">
</head>
<body>

        <nav class="navbar">
                <div class="logo">
                    <a th:href="@{/landlord-dorms}" class="logotag"><h3><i class="fa-solid fa-hotel"></i> Rental  <span>X</span></h3></a> 
                </div>
                <div class="menu-toggle">
                    <i class="fa-solid fa-bars"></i>
                </div>
                <div class="nav">
                    <img src="https://img.freepik.com/premium-vector/user-profile-icon-flat-style-member-avatar-vector-illustration-isolated-background-human-permission-sign-business-concept_157943-15752.jpg" class="user" alt=""> 
        
                <div class="user-button">
                    <a th:href="@{/profile}"><button><span th:text="${landlord.userName}"></span></button></a>
                </div>
                <div class="menu">
                    <ul>
                        <a th:href="@{/contactus}"><button class="btn6"> Contact Us</button></a>
                    </ul>
                </div>
            </div>
            
            </nav>


            <div class="welcome">
               <h1> Welcome <span th:text="${landlord.userName}"></span></h1>
            </div>

            <div>
                <div class="CYP">
                        <h1 class="create">
                                Update Your Dorm!
                        </h1>
                        <div>
                                <a th:href="@{/landlord-dorms}">
                                    <button class="propertybtn">My Properties</button>
                                </a>
                        </div>
                </div>
               
            </div>



            <div class="landlordcontainer">

                <form th:action="@{/updateDorm/{dorm_id}(dorm_id=${dorm.dormId})}" method="POST" th:object="${updatedDorm}">
                    <div class="landlordcard">
                        <div class="inputs">
                              <label for="">Property Name</label>
                            <div>
                                <input class="inp" type="text" th:field="*{dormName}" th:placeholder="${dorm.dormName}">
                            </div>
                        </div>
                          <div class="inputs">
                                <label for="">City</label>
                              <div>
                                  <input class="inp" type="text" th:field="*{city}" th:placeholder="${dorm.city}">
                              </div>
                          </div>
                          <div class="inputs">
                            <label for="">Latitude</label>
                          <div>
                              <input class="inp" type="text" th:field="*{latitude}" th:placeholder="${dorm.latitude}">
                          </div>
                      </div>
                          <div class="inputs">
                                <label for="">Longitude</label>
                              <div>
                                  <input class="inp" type="text" th:field="*{longitude}" th:placeholder="${dorm.longitude}">
                              </div>
                          </div>
                          <div class="inputs">
                                <label for="">Property's Description</label>
                              <div>
                                 <textarea class="area" th:placeholder="${dorm.dormDesc}" th:field="*{dormDesc}" name="" id="" cols="71" rows="13"></textarea>
                              </div>
                          </div>
                          <div class="inputs">
                                <label for="">Price/Month</label>
                              <div>
                                  <input class="inp" type="text" th:field="*{price}" th:placeholder="${dorm.price}">
                              </div>
                          </div>
                          <div class="inputs">
                                <label for="">Deposit</label>
                              <div>
                                  <input class="inp" type="text"  placeholder="Deposit*">
                              </div>
                          </div>
                          <div class="inputs">
                                <label for="">Image 1</label>
                              <div>
                                  <input class="inp" type="text" th:field="*{img1}" placeholder="Image Link*">
                              </div>
                          </div>
                          <div class="inputs">
                                <label for="">Image 2</label>
                                <div>
                                    <input class="inp" type="text" th:field="*{img2}" placeholder="Image Link*">
                                </div>
                         </div>
                         <div class="inputs">
                            <label for="">Image 3</label>
                            <div>
                                <input class="inp" type="text" th:field="*{img3}" placeholder="ImageLink*">
                            </div>
                        </div>
                        <div class="inputs">
                            <label for="">Image 4</label>
                            <div>
                                <input class="inp" type="text" th:field="*{img4}" placeholder="ImageLink*">
                            </div>
                        </div>
                          <div  class="type">
                                <div class="inputs">
                                        <label for="">Number of Bedrooms</label>
                                      <div>
                                          <input class="typeinp" type="number" th:field="*{bedroom}" th:placeholder="${dorm.bedroom}">
                                      </div>
                                  </div>
                                  <div class="inputs">
                                        <label for="">Number of Bathrooms</label>
                                      <div>
                                          <input class="typeinp" type="number" th:field="*{bathroom}" th:placeholder="${dorm.bathroom}">
                                      </div>
                                  </div>
                          </div>

                          <div class="inputs">
                                <label for="">Amenities</label>
                              <div>
                                 <textarea class="area" th:placeholder="${dorm.amenities}" th:field="*{amenities}" name="" id="" cols="71" rows="5"></textarea>
                              </div>
                          </div>
                          
                            <div class="proceedbtn">
                                <button type="submit" "probtn">Proceed</button>
                            </div>
                    </div>
                </form>
               

            </div>


            <div class="footer">
                <div class="footer-content">
                    <div class="footer-section about">
                     <p>fb.com/renfolx.coth</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="footer-section links">
                       
                        <ul>
                            <li><span>+66955344442</span></li>
                            <li><span>contact@rentalx.co.th</span></li>
                          
                        </ul>
                    </div>
                    <div class="footer-section contact">
                        <ul>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact Us</a></li>
                    </ul>
                    </div>
                </div>
            </div>
</body>
</html>